/* Acervo */

.acervo {
  display: flex;
}

.links-relacionados {
    list-style-type: none;
}

.logo {
    text-align: center;
}


.lista-acervo {
    display: grid;
    row-gap: 3%;

    .item {

      border: 0;
      padding: 10px;
      text-align: left;
    }
}

.saiba-mais {
    border: 1px solid gray;

}

.saiba-mais,
.links-relacionados > a {
    border-radius: .35rem;
    margin: 0 0 0 -5px;
    font-weight: 400;
    font-size: 1rem;
    padding: .5rem;
    color: #919480;

    &:hover {
        color: var(--heading-color);
        text-decoration-line: underline;

    }
}

.icone {
    width: 16px;
    height: 16px;
    margin: auto;
}

.icone use {
  fill: var(--heading-color);
}

.icone .camera {
  fill: var(--heading-color);
}

.icone .documento{
  fill: var(--heading-color);;
}

.icone .link{
  fill: #var(--heading-color);
}
