{{ define "main" }}

{{ $pages := .Pages }}
{{ $pages = (.Paginate $pages).Pages }}

<header>
  <div class="container">
    <h1>{{ .Title }}</h1>
    <p class="subtitle">
      <span class="count">{{ len .Pages }}</span> p&aacute;ginas encontradas em nosso acervo.
    </p>
  </div>
</header>



{{- $scope := .Site }}
{{- $paginator := .Paginate (where $scope.RegularPages ".Params.type" "!=" "page") }}

{{- if gt $paginator.TotalPages 1}}
<section>
  <div class="container">
    <nav class="pagination">
      {{- if $paginator.HasPrev}}
      <div class="prev-page">
        <a href="{{ $paginator.Prev.URL }}">Previous Page</a>
      </div>
      {{ end }}
      {{- if $paginator.HasNext}}
      <div class="next-page">
        <a href="{{ $paginator.Next.URL }}">Next Page</a>
      </div>
      {{ end }}
    </nav>
  </div>
</section>
{{ end }}

{{ end }}
