<nav class="navbar">
    <div class="container">
        <div class="flex">
          <div>
              <a class="brand" href="{{ relURL "/acervo" }}">
                  {{ with .Site.Params.titleEmoji }}
                  <span class="emoji">
                      {{ . }}
                  </span>
                  {{ end }}
                  {{ with .Site.Params.Logo }}
                      <img src="/aninga.png" />
                  {{ end }}
                  {{ .Site.Title }}
                  </a>
          </div>
          <div class="flex">
              {{ range .Site.Menus.header }}
              <a href="{{ .URL | relURL }}"{{ if eq .URL $.RelPermalink }} aria-current="page"{{ end }}>{{ .Pre }}{{ .Name }}{{ .Post }}</a>
              {{ end }}
              <button id="dark-mode-button">
                {{ (resources.Get "icons/light.svg").Content | safeHTML }}
                {{ (resources.Get "icons/dark.svg").Content | safeHTML }}
              </button>
          </div>
    </div>
</nav>
