{{ define "main" }}

<div class="container">

    <section class="my">
        <div class="content">

            {{ with .Content }}
            {{ . }}
            {{ end }}

        </div>
    </section>
</div>

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $projects := where .Site.RegularPages "Section" "projects" }}
{{ $pages = .Paginate ($pages)  }}

{{ end }}
