{{ define "main" }}

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ $pages = .Paginate ($pages) }}

<header>
    <div class="container">
    
      {{ .Content }}
  </div>
</header>

<section>
    <div class="container">
        <section>
            <div class="lista-acervo">
                {{ range $pages.Pages }}
                <a href="{{ .RelPermalink }}" class="saiba-mais item">
                     <h3>{{ .Title }}</h3>
                     {{ substr .Params.descricao 0 240 }}...
                      {{ partial "icones.html" . }}
                </a>
                {{ end }}
            </div>
        </section>
    </div>
</section>

{{- $scope := .Site }}
{{- $paginator := .Paginate (where $scope.RegularPages ".Params.type" "!=" "page") }}

{{- if gt $paginator.TotalPages 1}}
<section>
  <div class="container">
    <nav class="pagination">
      {{- if $paginator.HasPrev}}
      <div class="prev-page">
        <a href="{{ $paginator.Prev.URL }}"> << </a>
      </div>
      {{ end }}
      {{- if $paginator.HasNext}}
      <div class="next-page">
        <a href="{{ $paginator.Next.URL }}"> >> </a>
      </div>
      {{ end }}
    </nav>
  </div>
</section>
{{ end }}

{{ end }}
