{{ define "main" }}
<div class="container acervo">
    <article>
        <header class="article-header">
            <div class="thumb">
                <div>
                    <h1>{{ .Title }}</h1>
                    <div class="post-meta">
                        <div class="tags">
                            {{ range (.GetTerms "tags") }}
                            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section>
            {{ if ne .Params.capa.imagem "" }}
            {{ with .Params.capa }}
            {{ $conteudo := resources.Get .imagem }}
            {{ $imagem := $conteudo.Fill "600x220" }}
            <img src="{{ $imagem.RelPermalink }}" />
            <span>{{- .descricao -}}
            {{ end }}
            {{ end }}
            <div>{{- .Params.descricao | markdownify -}}</div>
        </section>

        {{ $icones := "/icones/open-iconic.svg" }}
        <section>
            <h5>
                <svg class="icone" viewBox="0 0 8 8"><use class="camera" xlink:href="{{$icones }}#camera-slr"></use></svg>
                Galeria
            </h5>
            {{ range $imagem := .Params.galeria }}
            {{ $conteudo := resources.Get $imagem }}
            {{ $pequena := $conteudo.Resize "220x q85 Box" }}
            <img src="{{ $pequena.RelPermalink }}" />
            {{ end }}
        </section>
        <section>
            <h5>
                <svg class="icone" viewBox="0 0 8 8"><use xlink:href="{{$icones }}#musical-note"></use></svg>
                Audios
            </h5>
            {{ range .Params.audios }}
            {{ $audio := replace .arquivo "details" "embed" }}
            <p>{{ .titulo }}</p>
            <iframe src="{{ $audio | safeURL }}" width="500" height="140" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
            {{ end }}
        </section>
    </article>
    <div>
      <h5>Links relacionados:</h5>
      <ul>
      {{ range .Params.links_relacionados }}
          <li class="links-relacionados">
              <a href="{{ .link | safeURL }}" target="_blank">
              {{ if isset . "titulo" }}{{- .titulo -}}{{ else }}{{- .link -}}{{ end }}
              </a>
          </li>
      {{ end }}
      </ul>
    </div>
</div>

</main>
{{ end }}
